{% load static %}
<main>
    <!-- Trending Area Start -->
    <div class="trending-area fix">
        <div class="container">
            <div class="trending-main">
                {% include "aznews/main/trending/trending_title.html" %}
                <div class="row">
                    {% include "aznews/main/trending/trending_left.html" %}
                    {% include "aznews/main/trending/trending_right.html" %}
                </div>
            </div>
        </div>
    </div>
    {% include "aznews/main/weekly.html" %}
    {% include "aznews/main/whats_new.html" %}
    {% include "aznews/main/weekly2.html" %}
    {% include "aznews/main/recent.html" %}
</main>

